# Copy file ini ke .env dan isi nilainya
# JANGAN commit file .env ke GitHub

# GCP Configuration
GCP_PROJECT_ID=your-gcp-project-id
GOOGLE_APPLICATION_CREDENTIALS=.secrets/gcp-sa-key.json

# GCS Bucket (akan di-output Terraform)
GCS_BUCKET_NAME=your-gcp-project-id-energy-raw

# EIA API (daftar di https://www.eia.gov/opendata/register.php)
EIA_API_KEY=your-eia-api-key-here
