# Secrets — JANGAN PERNAH di-commit
.env
.secrets/
*.json
!package.json

# Terraform state
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Bruin
.bruin/cache/

# OS
.DS_Store
