project_id         = "your-gcp-project-id"
region             = "your-gcp-region"
raw_bucket_name    = "your-unique-raw-bucket-name"
service_account_id = "your-pipeline-service-account-id"

raw_dataset_id     = "crude_oil_raw"
staging_dataset_id = "crude_oil_staging"
mart_dataset_id    = "crude_oil_mart"
